@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

#meus-filmes {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
h1 {
    margin: 10px 0 20px 0;
    font-family: 'Teko', sans-serif;
}
ul {
    padding: 0;
    background-color: transparent;
}
ul li {
    padding: 5px;
    list-style: none;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px
}
span {
    font-size: 23px;
}
p.p {
    transition: .2s;
}
p.p:hover {
   color: #FF530C;
}
button#btn {
    width: 100px;
    color: #000;
    margin-right: 10px;
    border: none;
    transition: .2s;
}
button#btn:hover {
    background-color: #AA0606;
    cursor: pointer;
    color: snow;
}
ul li div a {
    text-decoration: none;
}